.vantagens-bg {
  background-color: var(--cor-12);
}

.vantagens {
  padding-block: 120px;
  padding-inline: 20px;
}

.vantagens h2 {
  margin-bottom: 60px;
}

.vantagens ul {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, max-content)
  ); /* Area responsiva para o grid */
  gap: 40px 80px;
}

.vantagens h3,
.vantagens img {
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .vantagens {
    padding-block: 60px;
  }
  .vantagens h2 {
    margin-bottom: 40px;
  }
  .vantagens ul {
    gap: 20px;
  }
}

@media (max-width: 650px) {
  #seguros .titulo-bg h3 {
    font-size: 2rem;
  }
  .vantagens h2 {
    font-size: 2rem;
    margin-bottom: 60px;
  }
  .vantagens h3 {
    font-size: 1.2rem;
  }

  .vantagens ul {
    gap: 40px;
  }

  .vantagens p {
    font-size: 0.875rem;
  }
}
